html,
body {
  margin: 0;
}

#draw{
  border: 1px black solid;
  width: 330px;
  height: 250px;
}

.title{
  background: #ddd;
  padding: 1em;
  text-align: center;
}

.subtitle{
  padding: 0.2em;
  text-align: center;
  background: #eee;
}
#out1{
  border: 1px black solid;
  width: 330px;
  height: 250px;
}
#out2{
  border: 1px black solid;
  width: 330px;
  height: 250px;
}
#out3{
  border: 1px black solid;
  width: 330px;
  height: 250px;
}

.main-canvas{
  text-align: center;
  margin: 20px 0px;
}
.out-canvas{
  text-align: center;
  margin: 20px 0px;
}
